/**
 * See: http://www.css-101.org/articles/ken-burns_effect/css-transition.php
 */

/**
 * Styling the container (the wrapper)
 * 
 * position is used to make this box a containing block (it becomes a reference for its absolutely positioned children). overflow will hide part of the images moving outside of the box.
 */




.lottie {
  display:flex;
  justify-content:center;
  width:300px;
  height:500px;
  anchor-name: --my-button-anchor;
}


.tooltip img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tooltip {
width:20vw;
height:20vh;
border:1px solid blue;
z-index:2;
  position: absolute;
  position-anchor: --my-button-anchor;
  transform: translateX(50%); /* Adjust for perfect centering */
    border:1px solid blue;


  /* Other styling for the tooltip */
}



.smallscreen{
height:25vh;
  width:25vw;

border:1px solid black;
 
}

.smallscreen2{
height:15vh;
border:1px solid black;
 
}

.small-container {
  width: 5vw;
  height: 5vh;
 

}

.image-container-1 {

  border: 1px solid black;
  margin-bottom: 25px;
}

.image-container-1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.image-container-2 {
  
height:100%;
  border: 1px solid black;
  margin-bottom: 25px;
}

.image-container-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.flexrows-1{

  width:100%;
  display:flex;
  position:relative;

}




.small-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}





.iframediv{
 position:relative;
display:flex;
 
}








.section-8{

  position:relative;
height:100vh;
  width:100%;



}

.section-7{

  position:relative;
height:50vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;

}


.section-6{
border:2px solid blue;
  position:relative;
height:100%;
  width:100%;
  display:flex;


}






/**
 * See: http://www.css-101.org/articles/ken-burns_effect/css-transition.php
 */

/**
 * Styling the container (the wrapper)
 * 
 * position is used to make this box a containing block (it becomes a reference for its absolutely positioned children). overflow will hide part of the images moving outside of the box.
 */





.numbertext {
 position: absolute;
  font-size: 12px;
padding: 8px 12px;

}
.dots{
text-align:center;

height:15px;
position:relative;
}


.div-wrapper{

display:flex;
flex-direction:column;
}

.div-wrapper-2{
 position:relative;
height:5vh;
border:1px solid black;
display:flex;

}



.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 3.5s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
    animation-timing-function: ease-in; /* Easing from 0% to 50% */

}
.mySlides {display: none;}


.image-container {
  width: 45vw;
  height: 45vh;
 
  margin-bottom: 25px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}





.image-container-1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}













.page-section-8-box{
position:absolute;
width:100%;
height:100%;
}
.page-section-8-box {
border:1px solid blue; opacity:.1;
  background-color: #eee; /* Base color for one square */
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
                    linear-gradient(-45deg, #ccc 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #ccc 75%),
                    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 40px 40px; /* Size of each square in the checkerboard */
  background-position: 0 0, 20px 0, 20px 20px, 0 20px; /* Positioning for seamless pattern */
}




.page-section-7-box{
position:absolute;
width:100%;
height:100%;
}
.page-section-7-box {
border:1px solid blue;opacity:.1;
  background-color: #eee; /* Base color for one square */
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
                    linear-gradient(-45deg, #ccc 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #ccc 75%),
                    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 40px 40px; /* Size of each square in the checkerboard */
  background-position: 0 0, 20px 0, 20px 20px, 0 20px; /* Positioning for seamless pattern */
}

.page-section-6-box{
position:absolute;
width:100%;
height:100%;
}
.page-section-6-box {
border:1px solid blue;opacity:.1;  background-color: #eee; /* Base color for one square */
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
                    linear-gradient(-45deg, #ccc 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #ccc 75%),
                    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 40px 40px; /* Size of each square in the checkerboard */
  background-position: 0 0, 20px 0, 20px 20px, 0 20px; /* Positioning for seamless pattern */
}



.page-section-5-box{
position:absolute;
width:100%;
height:100%;
}
.page-section-5-box {
border:1px solid blue;opacity:.1;  background-color: #eee; /* Base color for one square */
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
                    linear-gradient(-45deg, #ccc 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #ccc 75%),
                    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 40px 40px; /* Size of each square in the checkerboard */
  background-position: 0 0, 20px 0, 20px 20px, 0 20px; /* Positioning for seamless pattern */
}


.page-section-4-box{
position:absolute;
width:100%;
height:100%;
}
.page-section-4-box {
border:1px solid blue;opacity:.1;  background-color: #eee; /* Base color for one square */
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
                    linear-gradient(-45deg, #ccc 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #ccc 75%),
                    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 40px 40px; /* Size of each square in the checkerboard */
  background-position: 0 0, 20px 0, 20px 20px, 0 20px; /* Positioning for seamless pattern */
}




.page-section-3-box{
position:absolute;
width:100%;
height:100%;
}
.page-section-3-box {
border:1px solid blue;opacity:.1;  background-color: #eee; /* Base color for one square */
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
                    linear-gradient(-45deg, #ccc 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #ccc 75%),
                    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 40px 40px; /* Size of each square in the checkerboard */
  background-position: 0 0, 20px 0, 20px 20px, 0 20px; /* Positioning for seamless pattern */
}



.page-section-2-box{
position:absolute;
width:100%;
height:100%;
}
.page-section-2-box {
border:1px solid blue;opacity:.1;  background-color: #eee; /* Base color for one square */
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
                    linear-gradient(-45deg, #ccc 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #ccc 75%),
                    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 40px 40px; /* Size of each square in the checkerboard */
  background-position: 0 0, 20px 0, 20px 20px, 0 20px; /* Positioning for seamless pattern */
}


