.flexrows-{
position:relative;
height:20vh;

}

.lottie img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lottiewrapper{
  width:100%;
  background:rgb(235,235,245);
  display:flex;
  justify-content:center;
  
}
.lottie {

  width:300px;
  height:500px;
}
.tooltip {
width:20vw;
height:20vh;
border:1px solid blue;
z-index:2;
  position: absolute;

 left:10%;
  transform: translateY(160%);
    border:1px solid blue;


  /* Other styling for the tooltip */
}

.tooltip img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.scroll-container {
  display: flex; /* Arranges children horizontally */

  width: 400vw;
}


header {
border:1px solid blue;
       height:75px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0px 0;
	text-align: center;
	background: #eee;
	z-index: 9999;
	transition: all 300ms ease-in-out;
}


/* The individual full-screen sections */
.containersection {
  flex-shrink: 0; /* Prevents sections from shrinking */
  width: 80vw; /* Sets each section to be the full width of the viewport */
  height: 100vh; /* Sets each section to be the full height of the viewport */
  scroll-snap-align: start; /* Aligns the start of each section to the start of the scroll container */
  display: flex;
  justify-content: center;
flex-direction:column;

  font-family: sans-serif;
  color: #fff;
  font-size: 2rem;
}

.svgtext{
border:1px solid blue;
position:relative;
top:0;
left:0%;
}


svg {
    position: relative;

 border:1px solid blue;
    width: 50vw;

    .mask {
        width: 0;
    }
}
