
.flexrows--{
 height:200vh;
display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.flexrows--img{
    width:100%;
display:flex;
 justify-content:center;
position:relative;
 height:125vh;
border:1px solid black;
}
.flexrows--img img{
max-width:100%;
max-height:100%;
object-fit:contain;
}

.lottiewrapper{
  position:relative;
  height:50px;
  width:60px;
  background:rgb(205,205,245);  
 display:flex;
 justify-content:center;
}




@media screen and (max-width: 768px) {
  /* CSS rules to apply when the screen width is 768px or less */
.flexrows--{
border:2px solid black;
flex-direction:column;
  height:125vh;
}
.flexrows-3{
position:relative;
}
.lottiewrapper {
width:300px;
height:650px;
}

  
.flexrows--{

  
}

}
