

.herotext{
position:absolute;
left:50%;
 transform: translateX(-50%);
top:35%;
text-align:center;
  margin: 0 auto;
width:50%;
font-weight: bold;
}


.orange-box {
position:absolute;
top:50%;
  background-color: orange; /* Sets the background color to orange */
  padding: 20px;            /* Adds space between the content and the box's edge */
  border: 1px solid #cc6600; /* Optional: adds a border around the box */
  color: white;             /* Optional: sets the text color to white for contrast */
  text-align: center;       /* Optional: centers the text horizontally */
  width: 300px;             /* Optional: sets a fixed width for the box */
}

.twobrothers{
position:absolute;
top:0;
z-index:1;
}
.lottieflex{

width:100%;
height:45vw;
border:1px solid black;
display:flex;
justify-content:center;
}

.flexrows--{
position:relative;
display:flex;
width:100vw;
height:150vh;
border:1px solid black;
justify-content:center;


}
.flexrows--img{
border:10px solid black;
width:100vw;
height:150vh;

opacity:.9;
}

.flexrows--img img{

width:100%;
height:100%;
object-fit:contain;
}

.tooltip1{

  position:relative;
  width:30px;
  height:50px;
}

.lottieflex{

width:100%;
height:25vw;
border:1px solid black;
display:flex;
align-items:center;
justify-content:center;
}


.header1{
position:relative;
}
.flexrows--{
position:relative;
display:flex;
width:90vw;
height:10vw;
border:1px solid black;
justify-content:center;
}



.mp4div2{
background:white;
position:relative;
width:500px;
height:281px;
border:1px solid black;  
}


.flexrows-3{
background:white;
  width:100%;
  display:flex;
  position:relative;
height:20vw;
}
.section-2{
background-color:white;
}
html, body {
        overflow-x: hidden;
        max-width: 100vw; /* 100vw represents 100% of the viewport width */
    }
.flextext{
  margin-top: 2em;   /* Sets the top margin to 20 pixels */
  margin-bottom: 3em; /* Sets the bottom margin to 30 pixels */
display:flex;
width:90vw;
height:10px;
border:1px solid black;
position:relative;
}


@media screen and (max-width: 768px) {

  .flextext{
  width:360vw;

  
  }
  /* CSS rules for screens with a maximum width of 768px (e.g., tablets and phones) */
}



.flextexts{
          z-index:10;

top:-20%;
height:200px;
position:relative;
width:25%;
border:1px solid blue;
}


.restartbutton{

position:relative;
border:1px solid blue; 
}

.mp4div{
position:relative;
height:100%;
width:100%;
border:1px solid green;
display:flex;
justify-content:center;
align-items:center;
}

.video-js{
position:absolute;
top:0;
height:30%;
width:30%;
}

.my-video_-dimensions{

  width:30%;
height:30%;
}


.my-video-1-dimensions{

  width:30%;
height:30%;
}

.my-video-2-dimensions{
position:absolute;
top:0;
object-fit:contain;
width:80%;

}


.my-video-3-dimensions{

}

.video3-div{
border:1px solid black;
height:500px;
width:500px;
}


.horizontal-container {
 border:3px solid black;
  overflow: hidden;
  width: 400vw; /* (number of sections) * 100vw */
  height: 65vh;
 

}

.snap-wrapper {
  position:relative;
  display: flex;
  width: 100%; /* (number of sections) * 100vw */
    

}



.panel {
   

  flex-shrink: 0;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
justify-content:center;
  font-size: 5rem;
  color: white;
  text-align: center;
}


.one { background-color: #fff; }
.two { background-color: #fff; }
.three { background-color: #fff; }
.four { background-color: #fff;
width:100vw;
 }




.svgtext{
width:90vw;
border:1px solid blue;
position:relative;
top:0;
left:0;
}















































