
.flexrows--{
 height:200vh;
display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.flexrows--img{
    width:100%;
display:flex;
 justify-content:center;
position:relative;
 height:125vh;
border:1px solid black;
}
.flexrows--img img{
max-width:100%;
max-height:100%;
object-fit:contain;
}

.lottiewrapper{
  position:relative;
  height:500px;
  width:500px;
  background:rgb(205,205,245);  
 display:flex;
 justify-content:center;
}





