.flexrows--{
position:relative;
display:flex;
  flex-direction:column;
width:100%;
height:85vh;
border:1px solid black;
justify-content:center;
}



.lottieflex{

width:100%;
height:25vw;
border:1px solid black;
display:flex;
align-items:center;
justify-content:center;
}

.flexrows--img img{

width:100%;
height:100%;
object-fit:contain;
}
