.restartbutton{

position:relative;
border:1px solid blue; 
}

.mp4div{
position:relative;
height:100%;
width:100%;
border:1px solid green;
display:flex;
justify-content:center;
align-items:center;
}


.my-video-dimensions{
position:absolute;
top:0;
  width:10%;
height:10%;
}


.my-video-1-dimensions{
position:absolute;
top:0;
  width:10%;
height:10%;
}

.my-video-2-dimensions{
position:absolute;
top:0;
object-fit:contain;
width:80%;

}


.my-video-3-dimensions{

}

.video3-div{
border:1px solid black;
height:500px;
width:500px;
}


.horizontal-container {
  overflow: hidden;
  width: 360vw; /* (number of sections) * 100vw */
  height: 75vh;
}

.snap-wrapper {
  display: flex;
  width: 360vw; /* (number of sections) * 100vw */
}



.panel {
  flex-shrink: 0;
  width: 90vw;
  height: 75vh;
  display: flex;
  align-items: center;
justify-content:center;
  font-size: 5rem;
  color: white;
  text-align: center;
}


.one { background-color: #fff; }
.two { background-color: #fff; }
.three { background-color: #fff; }
.four { background-color: #fff;
width:100vw;
 }




.svgtext{
width:90vw;
border:1px solid blue;
position:relative;
top:0;
left:0;
}






