.carousel {
  width: 100%;
  margin: 40px auto;
  user-select: none;
}

.viewport {
  border:1px solid blue;
  width: 100vw;
  height: 200px; /* ✅ explicit height */
  overflow: hidden;
  cursor: grab;
}

.track {
  display: flex;
  will-change: transform;
}

.slide {
    border:1px solid blue;

  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  width: 160px;   /* ✅ visible size */
  height: 160px;

}

.svg svg {
  width: 100%;
  height: 100%;
}

.svg path {
  fill: currentColor;
}
