@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
 
}



HTML CSS JS
* {
   scroll-behavior: smooth;

}


.button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 1rem;
}

.wrapper {
  height: 300px;
  max-height: 50vh;
  width: 100%;
  border-left: dashed 2px var(--color-surface50);
  border-right: dashed 2px var(--color-surface50);
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 0.5rem;
  flex-shrink: 0;
  height: 80%;
  width: 20%;
  min-width: 150px;
}

.box__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 21px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.show-overflow {
  overflow: visible;
}

.box .box__inner {

}

.box {
border:1px solid black;
  --gradient: var(--gradient-macha);
}

.box:nth-child(3n + 2) {
  --gradient: var(--gradient-summer-fair);
}

.box:nth-child(3n + 1) {
  --gradient: var(--gradient-orange-crush);
}

.box p {
  color:black;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3rem;
}



  .hero {
                max-width: var(--size-960)
            }

            .hero .social__items {
                justify-content: center
            }

            .hero__heading {
                font-size: var(--font-size-28);
                line-height: var(--line-height-1);
                text-align: center
            }

            @media (width >= 48rem) {
                .hero__heading {
                    font-size: var(--font-size-50)
                }
            }

            @media (width >= 63rem) {
                .hero__heading {
                    font-size: var(--font-size-60)
                }
            }

            @media (width >= 75rem) {
                .hero__heading {
                    font-size: var(--font-size-80)
                }
            }

            @media (width >= 90rem) {
                .hero__heading {
                    font-size: var(--font-size-100)
                }
            }

            .hero__subheading {
                font-size: var(--font-size-20);
                font-weight: var(--weight-400);
                text-align: center
            }

            @media (width >= 48rem) {
                .hero__subheading {
                    font-size: var(--font-size-30)
                }
            }

            @media (width >= 63rem) {
                .hero__subheading {
                    font-size: var(--font-size-35)
                }
            }

            .hero__cta {
                text-align: center
            }




            .social__items {
                align-items: center;
                display: flex
            }

            .social__item {
                margin: 0 var(--size-10)
            }

            .social__item--icon {
                align-items: center;
                display: flex
            }

            .social__item--icon img {
                height: var(--size-32);
                width: var(--size-32)
            }







  

            @media (prefers-reduced-motion:no-preference) {
                html {
                    scroll-behavior: smooth
                }

                @view-transition {
                    navigation: auto
                }
            }

            body {
                color: var(--gray-darker);
                font-family: var(--font-primary);
                font-size: var(--font-size-20);
                line-height: var(--line-height-1-8)
            }

        

         
























            

            @media (width >= 63rem) {
                .margin-inline,.margin-inline-flex {
                    margin-inline: auto
                }
            }

          
      
            

            :root {
                --size-1:1px;
                --size-2: 2px;
                --size-4: 4px;
                --size-5: 5px;
                --size-6: 6px;
                --size-8: 8px;
                --size-10: 1rem;
                --size-12: 1.2rem;
                --size-14: 1.4rem;
                --size-16: 1.6rem;
                --size-18: 1.8rem;
                --size-20: 2rem;
                --size-24: 2.4rem;
                --size-28: 2.8rem;
                --size-30: 3rem;
                --size-32: 3.2rem;
                --size-34: 3.4rem;
                --size-36: 3.6rem;
                --size-40: 4rem;
                --size-44: 4.4rem;
                --size-48: 4.8rem;
                --size-50: 5rem;
                --size-52: 5.2rem;
                --size-54: 5.4rem;
                --size-56: 5.6rem;
                --size-60: 6rem;
                --size-64: 6.4rem;
                --size-68: 6.8rem;
                --size-70: 7rem;
                --size-72: 7.2rem;
                --size-76: 7.6rem;
                --size-80: 8rem;
                --size-84: 8.4rem;
                --size-88: 8.8rem;
                --size-92: 9.2rem;
                --size-96: 9.6rem;
                --size-100: 10rem;
                --size-120: 12rem;
                --size-180: 18rem;
                --size-200: 20rem;
                --size-220: 22rem;
                --size-250: 25rem;
                --size-278: 27.8rem;
                --size-300: 30rem;
                --size-360: 36rem;
                --size-480: 48rem;
                --size-540: 54rem;
                --size-650: 6.5rem;
                --size-720: 72rem;
                --size-960: 96rem;
                --size-1200: 120rem
            }

        
